<h1>ThreeDSecureSubscriptions#new</h1>
<p>Find me in app/views/three_d_secure_subscriptions/new.html.erb</p>

<%= content_tag :div, "Launching Checkout...", id: "payment", data: { session_id: @session_id } %>
